<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="8" verbose="1">
    <!--<test name="Test9" preserve-order="true" parallel="true">-->
        <!--<parameter name="myBrowser" value="firefox" />-->
        <!--<classes>-->
            <!--<class name="Tests.MoveThroughMenu.MoveThroughMenuSales" />-->
        <!--</classes>-->
    <!--</test>-->

    <test name="Test1" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.IncorrectApp"/>
            <class name="Tests.HR.Application.CorrectApp"/>
        </classes>
    </test>
    <test name="Test2" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.CorrectApp"/>
        </classes>
    </test>
    <test name="Test3" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.ShortApp"/>
        </classes>
    </test>
    <test name="Test4" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.EmptyApp"/>
        </classes>
    </test>
    <test name="Test5" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.DetailsOfApp"/>
        </classes>
    </test>
    <test name="Test6" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.RemoveApp"/>
        </classes>
    </test>
    <test name="Test7" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.CorrectApp"/>
        </classes>
    </test>
    <test name="Test8" preserve-order="true" parallel="true">
        <parameter name="myBrowser" value="chrome" />
        <classes>
            <class name="Tests.HR.Application.RemoveApp"/>
        </classes>
    </test>


</suite>